@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  background-color: white !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
#myimage {
  min-width: 130px;
  height: 8rem;
 
  object-fit: cover;
  border-radius: 100%;
}

#myimage:last-of-type {
  padding-left: 0;
}

.inner {
  width: 100%;
  overflow: hidden;
  height: 8rem;
}

.wrapper {
  position: absolute;
  display: flex;
  gap:10px
}

section {
  display: flex;
  animation: swipe var(--speed) linear infinite backwards;
  gap:20px
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}
.customimage{
 height: 50vh !important;
}

.sidebar-hidden {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

/* Sidebar visible state */
.sidebar-visible {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

/* Overlay hidden state */
.overlay-hidden {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Overlay visible state */
.overlay-visible {
  opacity: 0.1;
  transition: opacity 0.3s ease-in-out;
}
.gradient {
  background: linear-gradient(to right, #63ccb6, #7fd19f);
  -webkit-background-clip: text;
  background-clip: text; /* Standard property for compatibility */
  -webkit-text-fill-color: transparent;
}
.banner-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
  white-space: nowrap;
}

.banner-content {
  display: flex;
  width: max-content;
  animation: scroll linear infinite;
}

.banner-item {
  flex-shrink: 0;
  padding: 10px;
}

.banner-image {
  height: 80px; /* Adjust height as needed */
  width: 80px; /* Adjust width as needed */
  object-fit: contain; /* Maintain aspect ratio */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
